* {
  margin: 0;
  border: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.container {
  position: absolute;
  width: 1920px;
  height: 3500px;
  background: rgba(5, 11, 22, 1)
    url(./static/images/a1a20cc0-4b1f-469f-825a-01e090ffccda.png) repeat;
  background-size: ;
  overflow-x: hidden;
  transform-origin: 0px 0px;
  filter: hue-rotate(0deg) saturate(100%) brightness(100%) contrast(100%)
    opacity(100%) grayscale(0%);
}
.container::-webkit-scrollbar {
  display: none;
}
#item740e6e10-3e72-11ed-9cbc-6d8a21429232 {
  overflow: hidden;
  position: absolute;
  left: 695px;
  top: 2835px;
  width: 1207.44px;
  height: 415.45px;
  z-index: 1;
  transform: rotate(0deg);
}
#item3ca8ecb5-d161-48c8-9999-4d954c77a67f {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1207.44px;
  height: 415.45px;
  z-index: 2;
  transform: rotate(0deg);
}
#item3923cc23-ec84-44f3-ad61-fdd096b92074 {
  overflow: hidden;
  position: absolute;
  left: 41.11px;
  top: 30px;
  width: 1124.44px;
  height: 344.44px;
  z-index: 1;
  transform: rotate(0deg);
}
#itemd30e5cb0-3e6b-11ed-9cbc-6d8a21429232 {
  overflow: hidden;
  position: absolute;
  left: 15px;
  top: 2820px;
  width: 630.5px;
  height: 460px;
  z-index: 14;
  transform: rotate(0deg);
}
#itemc0550951-3da5-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 75px;
  top: 15px;
  width: 482.5px;
  height: 445px;
  z-index: 14;
  transform: rotate(0deg);
}
#itemc0550952-3da5-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 630.5px;
  height: 441px;
  z-index: 13;
  transform: rotate(0deg);
}
#item07ccef50-3da6-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 9.63px;
  top: 2422.5px;
  width: 1889.67px;
  height: 346.55px;
  z-index: 13;
  transform: rotate(0deg);
}
#item07ccef51-3da6-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1889.67px;
  height: 346.55px;
  z-index: 2;
  transform: rotate(0deg);
}
#item07ccef52-3da6-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 50.37px;
  top: 37.5px;
  width: 1821.04px;
  height: 217.5px;
  z-index: 1;
  transform: rotate(0deg);
}
#itemc0550950-3da5-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 14.75px;
  top: 2327px;
  width: 688px;
  height: 71px;
  z-index: 12;
  transform: rotate(0deg);
}
#itemc0550953-3da5-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 105px;
  top: 13px;
  width: 540px;
  height: 50px;
  z-index: 8;
  transform: rotate(0deg);
}
#itemc0550954-3da5-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 688px;
  height: 71px;
  z-index: 7;
  transform: rotate(0deg);
}
#itemfff1a1f0-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 1245px;
  top: 1875px;
  width: 667.44px;
  height: 379.7px;
  z-index: 11;
  transform: rotate(0deg);
}
#itemfff1a1f1-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 667.44px;
  height: 379.7px;
  z-index: 6;
  transform: rotate(0deg);
}
#itemfff1a1f2-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 30px;
  top: 15px;
  width: 622.22px;
  height: 332.22px;
  z-index: 5;
  transform: rotate(0deg);
}
#itemad59fc80-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 540px;
  top: 1890px;
  width: 715px;
  height: 372px;
  z-index: 10;
  transform: rotate(0deg);
}
#itemad59fc81-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 270px;
  width: 250px;
  height: 102px;
  z-index: 6;
  transform: rotate(0deg);
}
#itemad59fc82-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 225px;
  top: 270px;
  width: 250px;
  height: 102px;
  z-index: 6;
  transform: rotate(0deg);
}
#itemad59fc83-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 465px;
  top: 270px;
  width: 250px;
  height: 102px;
  z-index: 6;
  transform: rotate(0deg);
}
#itemad59fc84-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 56.42px;
  top: 88.27px;
  width: 140px;
  height: 140px;
  z-index: 9;
  transform: rotate(0deg);
}
#itemad59fc85-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 285px;
  top: 88.27px;
  width: 140px;
  height: 140px;
  z-index: 8;
  transform: rotate(0deg);
}
#itemad59fc86-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 510px;
  top: 88.27px;
  width: 140px;
  height: 140px;
  z-index: 7;
  transform: rotate(0deg);
}
#itemad59fc87-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 15px;
  top: 0px;
  width: 212.35px;
  height: 55.53px;
  z-index: 6;
  transform: rotate(0deg);
}
#itemad59fc88-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 255px;
  top: 0px;
  width: 210px;
  height: 55.53px;
  z-index: 5;
  transform: rotate(0deg);
}
#itemad59fc89-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 480px;
  top: 0px;
  width: 210px;
  height: 55.53px;
  z-index: 4;
  transform: rotate(0deg);
}
#itemad59fc8a-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 15px;
  top: 249.87px;
  width: 232px;
  height: 107.36px;
  z-index: 3;
  transform: rotate(0deg);
}
#itemad59fc8b-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 240px;
  top: 249.87px;
  width: 232px;
  height: 107.36px;
  z-index: 2;
  transform: rotate(0deg);
}
#itemad59fc8c-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 480px;
  top: 249.87px;
  width: 232px;
  height: 107.36px;
  z-index: 1;
  transform: rotate(0deg);
}
#itema00052a0-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 59.44px;
  top: 1890px;
  width: 485.22px;
  height: 382.12px;
  z-index: 9;
  transform: rotate(0deg);
}
#item5fabc8c3-9f0e-4019-a117-447cf5fcd54f {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 485.22px;
  height: 382.12px;
  z-index: 11;
  transform: rotate(0deg);
}
#item922fe790-3da3-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 27.25px;
  top: 15px;
  width: 435.94px;
  height: 280px;
  z-index: 10;
  transform: rotate(0deg);
}
#item46911ec0-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 141.68px;
  top: 285px;
  width: 189.09px;
  height: 56.62px;
  z-index: 9;
  transform: rotate(0deg);
}
#item931967c0-3da4-11ed-89af-8f600aaaa59e {
  overflow: hidden;
  position: absolute;
  left: 74.05px;
  top: 1695px;
  width: 1771.89px;
  height: 166px;
  z-index: 8;
  transform: rotate(0deg);
}
#item2a1c4753-ff86-4bef-b414-dcc05748f832 {
  overflow: hidden;
  position: absolute;
  left: 735.95px;
  top: 75px;
  width: 300px;
  height: 90px;
  z-index: 12;
  transform: rotate(0deg);
}
#item654dabac-ff5c-45e7-adb3-78ec84239825 {
  overflow: hidden;
  position: absolute;
  left: 45.95px;
  top: 75px;
  width: 1676.33px;
  height: 91px;
  z-index: 11;
  transform: rotate(0deg);
}
#itemc0f71f8c-b283-49d5-8d3c-43ee669cb859 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1771.89px;
  height: 111px;
  z-index: 9;
  transform: rotate(0deg);
}
#item473706a0-3b7e-11ed-a95c-f1348c2ef540 {
  overflow: hidden;
  position: absolute;
  left: 17.5px;
  top: 1095px;
  width: 1883px;
  height: 518.5px;
  z-index: 7;
  transform: rotate(0deg);
}
#item7af0a282-57c6-4ff0-83c2-a5f4f61a514c {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1883px;
  height: 518.5px;
  z-index: 2;
  transform: rotate(0deg);
}
#item06fc044d-53c2-48af-a3b6-8ca08feb951a {
  overflow: hidden;
  position: absolute;
  left: 65px;
  top: 45px;
  width: 1755px;
  height: 320px;
  z-index: 1;
  transform: rotate(0deg);
}
#item39fbc190-3b7b-11ed-a95c-f1348c2ef540 {
  overflow: hidden;
  position: absolute;
  left: 1275px;
  top: 600px;
  width: 630.5px;
  height: 460px;
  z-index: 6;
  transform: rotate(0deg);
}
#item1f90f76f-422c-4702-a009-54eb4459484d {
  overflow: hidden;
  position: absolute;
  left: 75px;
  top: 15px;
  width: 482.5px;
  height: 445px;
  z-index: 2;
  transform: rotate(0deg);
}
#item57d32a05-e93c-4452-a017-b4faa5c18dfb {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 630.5px;
  height: 441px;
  z-index: 1;
  transform: rotate(0deg);
}
#iteme1ac6bb0-3b71-11ed-a95c-f1348c2ef540 {
  overflow: hidden;
  position: absolute;
  left: 15px;
  top: 595px;
  width: 1229.67px;
  height: 434.05px;
  z-index: 5;
  transform: rotate(0deg);
}
#item112c1bbc-4b41-486a-9bb0-2ac813549d6e {
  overflow: hidden;
  position: absolute;
  left: 105px;
  top: 13px;
  width: 540px;
  height: 50px;
  z-index: 4;
  transform: rotate(0deg);
}
#itemb6a225eb-6377-4e7a-b555-7b2a960a9ed3 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 688px;
  height: 71px;
  z-index: 3;
  transform: rotate(0deg);
}
#item8e369f82-7641-4b37-b481-dc24223bdecf {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 87.5px;
  width: 1229.67px;
  height: 346.55px;
  z-index: 2;
  transform: rotate(0deg);
}
#itema181bbf6-299f-4570-b249-d32f642b150b {
  overflow: hidden;
  position: absolute;
  left: 32.78px;
  top: 125px;
  width: 1185.01px;
  height: 217.5px;
  z-index: 1;
  transform: rotate(0deg);
}
#itemc82d1c30-3b52-11ed-a95c-f1348c2ef540 {
  overflow: hidden;
  position: absolute;
  left: 1255px;
  top: 165px;
  width: 667.44px;
  height: 379.7px;
  z-index: 4;
  transform: rotate(0deg);
}
#item2cba0b16-627d-4e56-9764-733ba37dabfe {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 667.44px;
  height: 379.7px;
  z-index: 2;
  transform: rotate(0deg);
}
#item2e55d1a1-eb63-40fb-809d-e2add908cf8a {
  overflow: hidden;
  position: absolute;
  left: 30px;
  top: 15px;
  width: 622.22px;
  height: 332.22px;
  z-index: 1;
  transform: rotate(0deg);
}
#itema9eebf40-3a89-11ed-a95c-f1348c2ef540 {
  overflow: hidden;
  position: absolute;
  left: 540px;
  top: 180px;
  width: 715px;
  height: 372px;
  z-index: 3;
  transform: rotate(0deg);
}
#itemecc31348-6826-4d68-a036-76850c763aea {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 270px;
  width: 250px;
  height: 102px;
  z-index: 6;
  transform: rotate(0deg);
}
#item0336fb60-3b54-11ed-a95c-f1348c2ef540 {
  overflow: hidden;
  position: absolute;
  left: 225px;
  top: 270px;
  width: 250px;
  height: 102px;
  z-index: 6;
  transform: rotate(0deg);
}
#item0817e9f0-3b54-11ed-a95c-f1348c2ef540 {
  overflow: hidden;
  position: absolute;
  left: 465px;
  top: 270px;
  width: 250px;
  height: 102px;
  z-index: 6;
  transform: rotate(0deg);
}
#item288ff640-3a88-11ed-9446-5db618c90ae9 {
  overflow: hidden;
  position: absolute;
  left: 56.42px;
  top: 88.27px;
  width: 140px;
  height: 140px;
  z-index: 9;
  transform: rotate(0deg);
}
#itemb3c99955-da1f-4cea-b759-82b9c1f4c0d5 {
  overflow: hidden;
  position: absolute;
  left: 285px;
  top: 88.27px;
  width: 140px;
  height: 140px;
  z-index: 8;
  transform: rotate(0deg);
}
#item347ec580-3a88-11ed-9446-5db618c90ae9 {
  overflow: hidden;
  position: absolute;
  left: 510px;
  top: 88.27px;
  width: 140px;
  height: 140px;
  z-index: 7;
  transform: rotate(0deg);
}
#itembc4b144e-1c19-4ea2-9280-9d12c93db061 {
  overflow: hidden;
  position: absolute;
  left: 15px;
  top: 0px;
  width: 212.35px;
  height: 55.53px;
  z-index: 6;
  transform: rotate(0deg);
}
#item2e5a9e00-3a87-11ed-9446-5db618c90ae9 {
  overflow: hidden;
  position: absolute;
  left: 255px;
  top: 0px;
  width: 210px;
  height: 55.53px;
  z-index: 5;
  transform: rotate(0deg);
}
#item3fa09d40-3a87-11ed-9446-5db618c90ae9 {
  overflow: hidden;
  position: absolute;
  left: 480px;
  top: 0px;
  width: 210px;
  height: 55.53px;
  z-index: 4;
  transform: rotate(0deg);
}
#item288fecea-534e-4df0-bea5-2cc651d47a95 {
  overflow: hidden;
  position: absolute;
  left: 15px;
  top: 249.87px;
  width: 232px;
  height: 107.36px;
  z-index: 3;
  transform: rotate(0deg);
}
#itemc8d9f480-3a82-11ed-9446-5db618c90ae9 {
  overflow: hidden;
  position: absolute;
  left: 240px;
  top: 249.87px;
  width: 232px;
  height: 107.36px;
  z-index: 2;
  transform: rotate(0deg);
}
#itemcd809930-3a82-11ed-9446-5db618c90ae9 {
  overflow: hidden;
  position: absolute;
  left: 480px;
  top: 249.87px;
  width: 232px;
  height: 107.36px;
  z-index: 1;
  transform: rotate(0deg);
}
#item46f32f70-3a84-11ed-9446-5db618c90ae9 {
  overflow: hidden;
  position: absolute;
  left: -60px;
  top: 165px;
  width: 656.41px;
  height: 379.9px;
  z-index: 2;
  transform: rotate(0deg);
}
#item97a344a0-7fd4-465f-8f2c-3082d6a12fee {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 50.96px;
  width: 410.62px;
  height: 283.12px;
  z-index: 5;
  transform: rotate(0deg);
}
#itemc140e040-3a81-11ed-9446-5db618c90ae9 {
  overflow: hidden;
  position: absolute;
  left: 245.79px;
  top: 50.96px;
  width: 410.62px;
  height: 283.12px;
  z-index: 4;
  transform: rotate(0deg);
}
#itemb31a7d15-4959-49e1-92fc-c18489b1e10a {
  overflow: hidden;
  position: absolute;
  left: 115.67px;
  top: 271.79px;
  width: 173.5px;
  height: 56.62px;
  z-index: 3;
  transform: rotate(0deg);
}
#item475d0a40-3a83-11ed-9446-5db618c90ae9 {
  overflow: hidden;
  position: absolute;
  left: 361.46px;
  top: 271.79px;
  width: 167.07px;
  height: 56.62px;
  z-index: 2;
  transform: rotate(0deg);
}
#item19bf0133-cb01-4a2b-a3ef-fb817eb07ec0 {
  overflow: hidden;
  position: absolute;
  left: 72.29px;
  top: 0px;
  width: 519.06px;
  height: 379.9px;
  z-index: 1;
  transform: rotate(0deg);
}
#item7c891360-3a7b-11ed-9446-5db618c90ae9 {
  overflow: hidden;
  position: absolute;
  left: 1.44px;
  top: 8.89px;
  width: 1918.56px;
  height: 144.33px;
  z-index: 1;
  transform: rotate(0deg);
}
#item7609974d-7135-43e1-bb4f-a5013eb38961 {
  overflow: hidden;
  position: absolute;
  left: 635.23px;
  top: 26.67px;
  width: 646.67px;
  height: 78.89px;
  z-index: 2;
  transform: rotate(0deg);
}
#itemc1bf4137-52ea-426d-95d7-8211dc188edd {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1918.56px;
  height: 144.33px;
  z-index: 1;
  transform: rotate(0deg);
}
